
main {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 2%;
	margin-top: 0%;
}

figure {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%
}

header {
	background-image: url("../images/wood.jpg");
	position: fixed;
	width: 100%;
	padding: 5px;
	top: 0px;
	text-align: center;
}

body {
	background-image: url("../images/wood.jpg");
	font-family: arial;
}

#top p {
	display: inline-block;
	background-color: blue;
	border: double;
	border-color: white;
	padding: 2px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 3px;
	margin-right: 3px;
	height: 6%;
}
#top a {
	color: white;
	text-decoration: none;
}